{% extends 'base.html.twig' %}

{% block title %}Borrow index{% endblock %}

{% block body %}
    <h1>Borrow index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DateStart</th>
                <th>DateEnd</th>
                <th>Returned</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.id }}</td>
                <td>{{ borrow.dateStart ? borrow.dateStart|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ borrow.dateEnd ? borrow.dateEnd|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ borrow.returned ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('borrow_show', {'id': borrow.id}) }}">show</a>
                    <a href="{{ path('borrow_edit', {'id': borrow.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('borrow_new') }}">Create new</a>
{% endblock %}
