{% extends "group_share/base.html.twig" %}

{% block title 'Les groupes' %}

{% block content %}


    <div class="d-flex justify-content-between">
        <div class="col-md-4 d-flex justify-content-center d-flex align-items-center">
            <div  class="bouton-postuler">Postuler</div>
        </div>
        <div class="col-md-4 ">
            <img class=" grp-img" src="{{ asset('build/images/') ~ groupshare.icon }}">
        </div>
        <div class="col-md-4 d-flex align-items-center">
            <h3>{{ groupshare.name }}</h3>
        </div>
    </div>


    <div class="d-flex flex-row">
        {% for member in groupshare.members %}
            {% if member.isValid %}
        <div class="p-2 ">
                {{ member.user.firstname }} {{ member.user.lastname }}
                <img class="rounded-circle" src="{{ asset('uploads/images/users/' ~ member.user.filename )}}">
        </div>
            {% endif %}
        {% endfor %}
    </div>



    <ul>
        {% for article in articles %}
            <li>{{ article.name }}</li>
        {% endfor %}
    </ul>
    
{% endblock %}