<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <link href="https://fonts.googleapis.com/css?family=Cookie|Courgette|Dancing+Script|Great+Vibes|Satisfy"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato|Roboto+Slab" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block footer %}
    <div class="container-fluid d-flex row justify-content-around m-0 pt-3 main-footer">

        <img class="image-logo" src="{{ asset('build/images/logo_sharesamis-final.png') }}">

        <div class="footer-contact">
            <h5>Nous contacter</h5>
            <ul class="d-flex flex-column pl-0 contact-infos">
                <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:contact@free.fr">contact@free.fr</a>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <a href="tel:0612345678">0612345678</a>
                </li>
            </ul>
        </div>
        <div class="text-center footer-follow">
            <h6>Follow</h6>
            <div class="d-flex justify-content-around social-icones">
                <a href="">
                    <i class="fa fa-facebook-f"></i>
                </a>
                <a href="">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="footer-nav">
            <ul>
                <li>
                    <a class="" href="{{ path('index') }}">Accueil</a>
                </li>
                <li>
                    <a class="" href="{{ path('group_share_index') }}">Les groupes
                    </a>
                </li>
                <li>
                    <a class=""href="{{ path('activity_borrow') }}">Prêts et emprunts
                    </a>
                </li>
                <li>
                    <a class="" href="{{ path('activity_article') }}">Mes objets</a>
                </li>
            </ul>
        </div>
        <div class="footer-cgu">
            <ul>
                <li>Mentions légales</li>
                <li>CGU</li>
            </ul>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
